*
{
    margin: 0px;
    padding: 0px;;
}
table{
    width: 100px;
    height: 80px;
    border-radius: 12px;
    border-style: dashed;
    border-color: blueviolet;
    border-width: 5px;
}
#heading{
    text-align: center;
    font-size: 60px;
    background-color: brown;
    color: bisque;
}
#row1{
    background-color: violet;
}
#row2{
    background-color: blue;
}